@media screen and (max-width: 450px) {
    body {
        font-family: 'Raleway', sans-serif;
    }

    .page-container {
        min-width: 300px;
        margin: auto;
    }
    main {
        padding-top: 50px;
        padding-bottom: 75px;
    }
    #navbar img {
        display: none;
    }
    .logopictureMobile {
        display: inline-flex;
    }

    .logo {
        font-family: 'Raleway', sans-serif;
        z-index: 1;
        background-color: #bc8f8f;
        display: flex;
        position: fixed;
        top: 0;
        left:0px;
        min-width: 100%;
        height: 60px;
        border: 0px solid;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow:  1px 1px 3px 1px grey;
    }
    nav {
        display: flex;
        min-width: 100%;
        height: 60px;
        background-color: rosybrown;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left:0px;
        border: 0px solid;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        z-index: 1;
        box-shadow:  1px 1px 3px 1px grey;
    }
    nav input:checked~.burger span {
        transform: rotate(45deg) translate(-10px, -10px);
        transition-duration: 0.5s;
    }
    nav input:checked~.burger span:nth-last-child(3) {
        opacity: 0;
        transition-duration: 0s;
    }
    nav input:checked~.burger span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
        transition-duration: 0.5s;
    }
    nav input:not(:checked)~.burger span {
        transform: rotate(0deg) translate(0px, 0px);
        transition-duration: 0.5s;
    }
    nav input:not(:checked)~.burger span:nth-last-child(3) {
        opacity: 1;
        transition-duration: 0.5s;
    }
    nav input:not(:checked)~.burger span:nth-last-child(2) {
        transform: rotate(0deg) translate(0px, 0px);
        transition-duration: 0.5s;
    }
    nav input {
        position: absolute;
        display: block;
        width: 70px;
        height: 70px;
        bottom: 0px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    nav span {
        display: block;
        width: 60px;
        height: 6px;
        margin-bottom: 7px;
        background: rgb(45, 45, 45);
        border-radius: 4px;
        z-index: 2;
        box-shadow:  0px 0px 1px 1px black;
    }
    .burger {
        position: absolute;
        bottom: 9px;
        left: 3px
    }
    #navbar {
        display: none;
        padding-top: 50px;
        padding-left:0;
    }
    .current-page {
        position: absolute;
        right: 10px;

        text-align: center;
        font-family: 'Calligraffitti', cursive;
    }


    #navbar li {
        font-family: 'Raleway', sans-serif;
        box-shadow:  1px 1px 5px 1px grey;
        list-style-type: none;
        padding: 16px;
        margin: 4px;
        text-transform: uppercase;
        border: 0px solid black;
        border-radius: 3px;
        min-width: 200px;
        background-color: rosybrown;
    }
    #navbar a:link {
        color: black;
        text-decoration: none;
    }
    #navbar a:visited {
        color: black;

        text-decoration: none;
    }
    #navbar a:hover {
        color: black;

        text-decoration: none;
    }
    #navbar a:active {
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width: 450px) {
    .logopictureMobile {
        display:none;
    }
    .current-page {
        font-family: 'Calligraffitti', cursive;
        font-size: 50px;
    }

    body {
        font-family: 'Raleway', sans-serif;
    }

    nav input {
        display: none;
    }
    #navbar {
        margin-top: 0px;;
        display: flex;
        width: 1200px;
        justify-content: space-between;
        align-items: center;
        background-color: rosybrown;
        padding: 0px;
        height: 100px;
        margin-top: 0;
        border: 0px solid black;
        border-radius: 10px 10px 10px 10px;
    }


    #navbar li {

        list-style-type: none;
        padding: 16px;
        margin: 8px;
        text-transform: uppercase;
        border: 0px solid black;
        border-radius: 7px;
        width: 110px;
        min-height: 33px;
        text-align: center;
        vertical-align: middle;
        vertical-align: middle;
        font-size: 1em;
        font-weight: bold;
        background-color: white;
        box-shadow:  1px 1px 5px 1px grey;
    }
    #navbar li:hover {
        transition: background-color 0.5s ease;
        background-color: rgb(241, 221, 221);

        font-weight: bold;
    }
    #navbar img {
        margin-right: 310px;
        border-radius: 10px 10px 10px 10px;
    }
    #navbar a:link {
        color: black;
        text-decoration: none;
    }
    #navbar a:visited {
        color: black;
        text-decoration: none;
    }
    #navbar a:hover {
        color: black;
        text-decoration: none;

    }
    #navbar a:active {
        color: black;
        text-decoration: none;

    }
    }
    .navbar_desktop {
        display: flex;

        flex-direction: column-reverse;
        align-items: center;
    }
    .logo {
        text-align: center;

    }


